[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Name=Signo v6 Kiosk
Comment=Launch Sign-to-Text Translation Kiosk
Exec=/home/jetson/Desktop/Signo/launch_signo.sh
Icon=utilities-terminal
Categories=Application;Utility;
Path=/home/jetson/Sign-to-Text-Translation-System-Using-Arabic-Sign-Language
